h1, h2, h3, h4, label {
  font-family: 'Lexend Deca', sans-serif;
  color:#fff;
}

h5, h6, p, a, th, td, button, input {
  font-family: 'Questrial', sans-serif !important;
  color:#fff;
}


body::-webkit-scrollbar{width:0.4em}
body::-webkit-scrollbar-track{background:rgba(0,0,0,0);border-radius:0px}
body::-webkit-scrollbar-thumb{background:#0f1642;border-radius:50px}

::-webkit-scrollbar{width:0.4em}
::-webkit-scrollbar-track{background:rgba(0,0,0,0);border-radius:0px}
::-webkit-scrollbar-thumb{background:#0f1642;border-radius:50px}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden;}
