
<div class="container">

  <div class="row" >
    <div class="col-6" style="padding-top:15%;">
      <img src="assets/undraw_quiz_nlyh.svg" style="width:90%" class="animate animated fadeIn">
    </div>
    <div class="col-6 animate animated fadeInRight" style="padding-top:2%; text-align:center">
      <div class="card login-card">
        <div class="card-body">
          <h2 style="color:#0f1642"> Welcome back! </h2> <br>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <input placeholder="Username" type="text" formControlName="username" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <input placeholder="Password" type="password" formControlName="password" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary btn-block" style="border:0">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Log In
              </button>
              <label *ngIf="error" style="color:red; padding-top:0.7em;">{{error}}</label>
          </form>
        </div>
      </div>
      <p style="padding-top:0.7em; cursor: pointer"> Sign Up (Currently Unavailable) </p>
    </div>

  </div>
</div>
