.form-field {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius:0;
}

.login-card {
  background-color:rgba(255,255,255,1);
  border:0;
  text-align: center;
  margin-top: 2em;
  padding: 2em 1em 5em 1em;
  box-shadow: 0px 5px 0px 1px rgba(0, 0, 0, 0.3);
}

.form-group {
  padding-top:1em;
  padding-bottom:1em;
}

.btn-primary {
  background-color: #04c5cd;
  color:#0f1642;
}


.btn-primary:hover {
  background-color:#0f1642;
  color:#fff;
}
