.calender-head{
    color: #04c5cd;
    /* font-size: 24px; */
}

.calender-button{
    color:#fff; 
    padding-left:0.5em
}

.calender-day-detail{
    color: #fff;
}

.calender-button a:hover {
    color: #04c5cd;
}