<div class="container contribution-calender">
    <div class="row align-items-center justify-content-center">

        <div class="col-1 align-items-center calender-button">
            <a class="button-last-month" (click)=loadLastMonthcontribution()>
                <i class="fa fa-chevron-left"></i>
            </a>
        </div>

        <div class="col-9 calender-content"> 
            <div class="row no-gutters calender-head">
                <div class="col calender-day">
                    <p>Sun</p>
                </div>
                <div class="col calender-day">
                    <p>Mon</p>
                </div>
                <div class="col calender-day">
                    <p>Tue</p>
                </div>
                <div class="col calender-day">
                    <p>Wed</p>
                </div>
                <div class="col calender-day">
                    <p>Thu</p>
                </div>
                <div class="col calender-day">
                    <p>Fri</p>
                </div>
                <div class="col calender-day">
                    <p>Sat</p>
                </div>
            </div>

            <div class="calender-body">
                <!-- <table>
                    <tr *ngFor="let contributionData of contributionDatas" class="calender-day-row"> 
                        <td *ngFor="let contributionDetail of contributionData">
                            {{contributionDetail}}
                        </td>
                    </tr>
                </table> -->


                <div class="row no-gutters calender-day-row" *ngFor="let contributionData of contributionDatas">
                    <div class="col calender-day-detail" *ngFor="let contributionDetail of contributionData">
                        <!-- {{contributionDetail}} -->
                        <svg width="100%" height="25">
                            <rect width="100%" height="25 " [ngStyle] = "{
                                'fill': 'rgb(100,100,contributionDetail)',
                                'stroke-width': 3,
                                'stroke': 'rgb(255,255,255)'
                            }"/>

                        </svg>
                    </div>
                </div>
            </div> 

        </div>
        <div class="col-1 align-items-center calender-button">
            <a class="button-last-month" (click)="loadNextMonthcontribution()">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>