<div class="anlytics-page animate animated fadeIn faster">
    
    <!-- <div class="container" style="margin-left: 2em; margin-right:2em; width: calc(100% + 4em);"> -->
        <div class="row" style="margin: 2em; margin-top:1em;"> 
            <div class="col-6">
                <div class="filter class-filter"> 
                    <div class="input-group">
                        <select class="form-control" id="class-filter" style="background-color:#0f1642;border:0;color:#fff">
                            <option> Class 1 </option>
                            <option> Class 2 </option>
                            <option> Class 3 </option>
                            <option> Class 4 </option>
                            <option> Class 5 </option>
                        </select>
                    </div>
                </div>
                <div class="game-evaluation-figures" >
                    <div class="efficiency-block">
                        <div class="card-deck efficiency-card-deck">
                            <div class="card figure-card">
                                <div class="card-body figure-card-body text-center">
                                    <p class="card-title">Student A's Efficiency Index</p>
                                    <h5 class="card-text">{{analysisData.e3Index.stuEfficiency}}</h5>
                                </div>
                            </div>
                            <div class="card figure-card-average">
                                <div class="card-body figure-card-body text-center">
                                    <p class="card-title">Average Efficiency Index</p>
                                    <h5 class="card-text">{{analysisData.e3Index.avgEfficiency}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="eee-list efficiency-list" style="margin: 0px;"> 
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> 
                                    <div class="row">
                                        <div class="col-10">
                                            Happiness per Budget Used
                                        </div>
                                        <div class="col-2 text-right">
                                            {{analysisData.happinessPerBudget}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item"></li>
                            </ul> 
                        </div>
                    </div>
                    <div class="effectiveness-block">
                        <div class="card-deck efficiency-card-deck">
                            <div class="card figure-card">
                                <div class="card-body figure-card-body text-center">
                                    <p class="card-title">Student A's Effectiveness Index</p>
                                    <h5 class="card-text">{{analysisData.e3Index.stuEffectiveness}}</h5>
                                </div>
                            </div>
                            
                            <div class="card figure-card-average">
                                <div class="card-body figure-card-body text-center">
                                    <p class="card-title">Average Effectiveness Index</p>
                                    <h5 class="card-text">{{analysisData.e3Index.avgEffectiveness}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="eee-list efficiency-list"> 
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let item of analysisData.utilizationRate"> 
                                    <div class="row">
                                        <div class="col-10">
                                            Utilization Rate of {{item.name}}
                                        </div>
                                        <div class="col-2 text-right">
                                            {{item.data}}%
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item"></li>
                            </ul> 
                        </div>
                    </div>
                    <div class="equity-block">
                        <div class="card-deck efficiency-card-deck">
                            <div class="card figure-card">
                                <div class="card-body figure-card-body text-center">
                                    <p class="card-title">Student A's Equity Index</p>
                                    <h5 class="card-text">{{analysisData.e3Index.stuEquity}}</h5>
                                </div>
                            </div>
                            
                            <div class="card figure-card-average">
                                <div class="card-body figure-card-body text-center">
                                    <p class="card-title">Average Equity Index</p>
                                    <h5 class="card-text">{{analysisData.e3Index.avgEquity}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="eee-list efficiency-list"> 
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let item of analysisData.facilityAccess"> 
                                    <div class="row">
                                        <div class="col-10">
                                            Average Number of Facilities Accessed for {{item.name}} Income Class
                                        </div>
                                        <div class="col-2 text-right">
                                            {{item.data}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" *ngFor="let item of analysisData.mixing"> 
                                    <div class="row">
                                        <div class="col-10">
                                            {{item.name}} Mixing Index
                                        </div>
                                        <div class="col-2 text-right">
                                            {{item.data}}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item"></li>
                            </ul> 
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-6">
                <div class="filter student-filter"> 
                    <div class="input-group">
                        <select class="form-control" id="class-filter" style="background-color:#0f1642;border:0;color:#fff">
                            <option> Student 1 </option>
                            <option> Student 2 </option>
                            <option> Student 3 </option>
                            <option> Student 4 </option>
                            <option> Student 5 </option>
                        </select>
                    </div>
                </div>
                <div class="card map-visual-card" style="margin: 0px; margin-top: 2em;">
                    <div class="card-body anlytics-map-card-body" style="width: 100%; padding: 0em;">
                        <div id="map"
                            leaflet
                            [leafletOptions]="options"
                            [leafletMaxZoom]="18"
                            [leafletMinZoom]="14"
                            (leafletMapReady)="onMapReady($event)">
                        </div>
                    </div>
                </div>

                <div class="facility-and-house" style="margin-top: 2em;"> 
                    <div class="gis-gui-side-nav animate animated">
                        <span>
                          <button class="btn btn-primary btn-asset-filter facility-button" (click)="showHousesBtn()" [ngStyle]="{ 'opacity':(isHousesTab == true) ? 1 : 0.35 }">Houses</button>
                          <button class="btn btn-primary btn-asset-filter facility-button" (click)="showFacilitiesBtn()" [ngStyle]="{ 'opacity':(isHousesTab == false) ? 1 : 0.35 }">Facilities</button>
                        </span>
                      
                        <div class="card gis-gui-bottom-nav-card">
                          <div class="card-body gis-gui-bottom-nav-body text-center" *ngIf="isHousesTab == true">
                            <app-house-chart></app-house-chart>
                          </div>
                          <div class="card-body gis-gui-bottom-nav-body" *ngIf="isHousesTab == false">
                            <app-facility-chart></app-facility-chart>
                          </div>
                        </div>
                      </div>
                </div> 
            </div>
        </div>
    <!-- </div> -->
</div>