#map {
    height: calc(100%);
    width: 100%;
    position: absolute !important;
    cursor: grab;
}
  
.gis-gui-overlay {
    position:absolute;
    z-index:314159;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    width: calc(100% - 29em);
}

.btn-asset-filter {
    width: 50%;
}

.map-visual-card {
    width: 100%;
    background-color: antiquewhite;
    height: 25em;
}

/* .map-visual-card .card-body {
    opacity: 0.01;
} */

.map-visual-card .card-body .card-text {
    color: #0f1642;
}

.input-group {
    border-color: #0f1642;
    border: #0f1642;
}

.figure-card {
    margin: 1em;
    height: 5em;
    background-color: #04c5cd;
}

.figure-card .figure-card-body {
    padding: 0px;
    padding-top: 1em;
}

.figure-card .figure-card-body .card-title{
    margin: 0px;
}

.figure-card-average {
    margin: 1em;
    height: 5em;
    background-color: #0f1642;
}

.figure-card-average .figure-card-body {
    padding: 0px;
    padding-top: 1em;
}

.figure-card-average .figure-card-body .card-title{
    margin: 0px;
}

.eee-list {
    margin-top: 1em;
}

.list-group {
    /* opacity: 0.5; */
}

.list-group-item {
    padding: 0.1em;
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.facility-button {
    background-color: #0f1642;
    border: 0px;
}

.gis-gui-bottom-nav-card {
    height: 20em;
    border: 0px;
    background-color: transparent;
}