<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>anly.io</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lexend+Deca|Questrial&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>

    h1, h2, h3, h4, label {
      font-family: 'Lexend Deca', sans-serif;
      color:#fff;
    }

    h5, h6, p, a, th, td, button, input {
      font-family: 'Questrial', sans-serif !important;
      color:#fff;
    }

    .btn-primary {
      border-color: #fff;
      border-width: 2px;
      background-color: rgba(0,0,0,0);
    }

    .btn-primary:hover {
      background-color: #04c5cd;
      color: #0f1642;
      border-color: #04c5cd;
    }

    body::-webkit-scrollbar{width:0.4em}
    body::-webkit-scrollbar-track{background:rgba(0,0,0,0);border-radius:0px}
    body::-webkit-scrollbar-thumb{background:#0f1642;border-radius:50px}

    ::-webkit-scrollbar{width:0.4em}
    ::-webkit-scrollbar-track{background:rgba(0,0,0,0);border-radius:0px}
    ::-webkit-scrollbar-thumb{background:#0f1642;border-radius:50px}


    html, body { height: 100%; }
    body { margin: 0; padding:0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x:hidden }

    .background {position:absolute;display:block;top:0;left:0;z-index:0;}


  </style>

</head>
<body style="background-color:#2b3253;">
  <canvas class="background"></canvas>


{% block content %}{% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>

<script>
window.onload = function() {
  Particles.init({
    selector: '.background',
    maxParticles:200,
    color: "rgba(255,255,255,0.4)",
})}
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83611465-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-83611465-2');
</script>

</body>
</html>
