{% extends "landing/base.html" %}

{% block content %}

<div>
  <div style="background-color:#2b3253;padding:2.5em">
    <div class="row animate animated fadeInDown">
      <div class="col">
        <h2 style="display:inline">Anly.io</h2>
        <p style="display:inline;">Beta</p>
      </div>
      <div class="col" style="text-align:right">
        <a class="btn btn-primary btn-lg" href="/#/login">Start</a>
      </div>
    </div>
    <hr class="animate animated fadeInLeft" style="width:20%; border-width: 0.2em; border-color: #fff" align="left">

    <div class="row">
      <div class="col-6" style="padding-top:0.5em;">
        <p style="font-size:3em; color:#fff" class="animate animated fadeInLeft">
          Data Literacy,
          <i>Gamified</i>.
        </p>
        <!-- <a class="btn btn-primary btn animate animated fadeInLeft" href="/#/login">Our goal</a> -->

        <div class="animate animated fadeInDown" style="padding-top:1em;">
          <div>
            <h4>For Students</h4>
            <p>Play games, sharpen your data skills, and challenge your friends!</p>
            <a class="btn btn-primary btn-sm" href="/#/login">Find out more</a>
          </div>
          <div style="padding-top:2em;">
            <h4>For Teachers</h4>
            <p>Gamify your lessons and develop socially-aware future leaders who are confident in navigating a
              data-driven world.</p>
            <a class="btn btn-primary btn-sm" href="/#/login">Find out more</a>
          </div>

        </div>

      </div>
      <div class="col-6 animate animated fadeInRight">
        <img src="assets/undraw_progress_data_4ebj.svg" style="width:100%; height:auto; box-shadow: 0 0 10px 10px #2b3253 inset;" align="right">
      </div>
    </div>
  </div>
</div>



{% endblock %}
