.main {
    margin-left: 13.5em; /* Same as the width of the sidebar */
    text-align: left;
}

.topnav {
    margin:3em;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.leaderboard-card {
    margin-left: 3em;
    margin-right: 3em;
}

.course-title-card {
    background-color:#0f1642;
}

.user-card {
    border:0 ;
    margin-bottom: 1em;
    height: 3.5em;
    background-color:#0f1642;
    color: #fff;
    box-shadow:0px 2px 2px 1px rgba(0,0,0,0.2)
}

.dash-card {
  background-color: #0f1642;
  border:0;
  text-align: center;
  margin-bottom: 0.5em;
  border-radius:2em;
  box-shadow: 0px 2px 0px 2px rgba(0,0,0,0.15);
  /* height: 7em; */
}

.user-progress {
    background-color: #04c5cd;
}

.avatar {
    position: relative;
    border:2px;
    border-radius: 50%;
    /* overflow:hidden; */
    width:2em;
    height:2.5em;
    background-color:#04c5cd;
}

.btn {
    border:0 ;
}

.btn-primary {
    background-color:#0f1642;
}

.centered-div {
    position:absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    text-align: center;
    margin: 10% 0;
    align-items: center;
}
