<div style="padding-top:2em; padding-bottom: 2em;">

  <div class="leaderboard-card animate animated fadeInDown" style="text-align:center">
    <h5>Leaderboard for</h5>
    <h3>{{ leaderboardService.getAttributes().name }}</h3>
  </div>

  <div class="leaderboard-card row animate animated fadeInUp" style="padding-top:2em;">
    <div class="col-6">
      <div class="card dash-card">
        <div class="card-body">
          <i class="fa fa-users" aria-hidden="true" style="font-size:3em;padding-bottom:0.3em; color:#04c5cd;"></i>
          <h6>Total players</h6>
          <h2>{{ leaderboardService.getTotalPlayers() }}</h2>
        </div>
      </div>
    </div>
    <!-- <div class="col-4">
      <div class="card dash-card">
        <div class="card-body">
          <i class="fa fa-star" aria-hidden="true" style="font-size:3em;padding-bottom:0.3em; color:#04c5cd;"></i>
          <h6>Your Score</h6>
          <h2>{{ leaderboardService.getSelfScore() | number: '1.0-0' }}</h2>
        </div>
      </div>
    </div> -->
    <div class="col-6">
      <div class="card dash-card">
        <div class="card-body">
          <i class="fa fa-percent" aria-hidden="true" style="font-size:3em;padding-bottom:0.3em; color:#04c5cd;"></i>
          <h6>Average Score</h6>
          <h2>{{ leaderboardService.getAverageScore() | number: '1.0-0'  }}</h2>
        </div>
      </div>
    </div>


  </div>

  <div class="leaderboard-card user-list  animate animated fadeInUp slow" style="padding-top:2em;" *ngIf="leaderboardService.getScores().length > 0">
      <div class="card user-card align-middle"*ngFor="let s of leaderboardService.getScores(); let i = index"  [ngStyle]="{'background-color': s.user_id == currentUser.id ? '#04c5cd' : '' , 'color': s.user_id == currentUser.id ? '#0f1642' : '' }">
          <div class="card-body" style="padding-top: 0px; padding-bottom: 0px;">
              <div class="row align-items-center align-middle" style="height: 3.4em;">

                  <div class="col-1 text-left">
                    {{ i + 1 }}
                  </div>

                  <div class="col-2 text-left">
                      <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                  </div>

                  <div class="col text-left">
                    <h5 style="display:inline; margin: 0px;" [ngStyle]="{ 'color': s.user_id == currentUser.id ? '#0f1642' : '' }">
                      {{s.username}}
                    </h5>
                    <h5 style="display:inline; margin: 0px;" *ngIf="s.user_id == currentUser.id" [ngStyle]="{ 'color': s.user_id == currentUser.id ? '#0f1642' : '' }">
                      (You)
                    </h5>

                  </div>

                  <div class="col text-right">
                    <h2 style="margin: 0px;" [ngStyle]="{ 'color': s.user_id == currentUser.id ? '#0f1642' : '' }">{{s.score | number: '1.0-0'}}</h2>
                  </div>

                  <!-- <div class="col-3 text-right">
                    <i class="fa fa-external-link" aria-hidden="true" style="margin:0px"></i>
                  </div> -->

              </div>
          </div>
      </div>
  </div>
</div>
