.dashboard {
  margin:3em;
}

.card{
  border:0;
  background-color: rgba(255, 0, 0, 0);
}

.card-learning {
  border:0 !important;
  text-align: center;
  height:16em;
}

.card-body {
  background-color:#0f1642;
}


.card-courses-body {
  border:0 !important;
  border-radius:0px 0px 10px 10px;
}

.card-learning-body {
  border-radius:10px;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  border:0;
  background-color: #04c5cd;
  color:#0f1642
}

.topnav {
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.avatar img {
  border-radius: 50%;
  position: relative;
  left: -2px;
  margin-left: -10px;
  z-index: 1;
  width:2.65em;
  height:2.65em;
  border-style: solid;
  border-width: medium;
  border-color:#04c5cd;
}

.avatars {
  direction: rtl;  /* This is to get the stack with left on top */
  text-align: left;  /* Now need to explitly align left */
  padding-left: 25px;  /* Same value as the negative margin */
}
a.custom-card,
a.custom-card:hover{
  color: inherit;
}

.centered-div {
    position:absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    text-align: center;
    margin: 10% 0;
    align-items: center;
}
