
<div>
    <div class="dashboard animate animated fadeIn" style="margin-top:4em" *ngIf="loading == false">

        <div class="topnav card animate animated fadeInDown" style="background-color:#0f1642; margin-bottom: 3em;"
            *ngIf="this.router.url == '/dashboard'">
            <div class="card-body" style="padding:0.5em; border-radius: 2em;">
                <div class="row">
                    <div class="input-group col-6">
                        <input type="text" class="form-control" style="background-color:#2b3253;border:0;color:#fff">
                        <div class="input-group-append">
                            <span class="input-group-text" style="background-color:#04c5cd; border:0;">
                                <i class="fa fa-search" aria-hidden="true" style="color:#2b3253"></i>
                            </span>
                        </div>
                    </div>
                    <div class="dropdown col-6" style="text-align:right">
                        <button style="background-color: #04c5cd; border:0" class="btn btn-primary dropdown-toggle"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" *ngIf="currentUser">
                            {{currentUser.username}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" style="cursor:pointer">View Profile</a>
                            <a class="dropdown-item" (click)="logout()" style="cursor:pointer">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3>Learning Progress</h3>
            <div class="row" style="padding-top:0.5em; padding-bottom:1em">
                <div class="col-6">
                    <div class="card card-learning">
                        <div class="card-body card-learning-body"
                            style="background-image:linear-gradient(#04c5cd, #01949a); padding-top:3.5em;">
                            <h2>Welcome, {{ currentUser.username }}!</h2>
                            <!-- <p>You have completed 3 quests 3 days in a row!</p> -->
                            <br>
                            <a href="#">
                                <i class="fa fa-trophy" aria-hidden="true" style="font-size:20px; margin-right:15px;"></i>
                                <strong style="letter-spacing:1px">VIEW ALL ACHIEVEMENTS</strong>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card card-learning">
                        <div class="card-body card-learning-body"
                            style="background-image:linear-gradient(#121b52, #090e2f);">
                            <h4>Your Monthly Progress</h4>
                            <div>
                                <app-contribution-calendar></app-contribution-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-top:1em; padding-bottom:1em">
            <h3>Popular Quests</h3>

            <div class="row" style="padding-top:1em; padding-bottom:3em">
                <div class="col-4" *ngFor="let g of dashboardService.getGamesList().results">

                    <div class="card" style="border-radius:10px; box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.2);">
                        <img class="card-img-top"
                            src="https://cdn.pixabay.com/photo/2017/08/17/07/47/travel-2650303_1280.jpg"
                            alt="Card image cap">
                        <div class="card-body card-courses-body" style="height:15em;">
                            <h5 class="card-title">{{ g.game.attributes.name }}</h5>
                            <div class="row" style="padding-top:1em;">
                                <span class="col-6">
                                    <h4>{{ g.game.users.length }}</h4>
                                    <p>Popularity</p>
                                </span>
                            </div>

                            <button class="col btn btn-primary" style="font-size:0.8em"
                                (click)="gotoGisgame(g.game.attributes.id)">Start Game</button><br>
                            <button class="col btn btn-primary" style="font-size:0.8em; margin-top:0.5em" *ngIf="g.game.attributes.has_leaderboard == true"
                                (click)="gotoLeaderboard(g.game.attributes.id, currentUser.id)">Leaderboard</button>
                            <button class="col btn btn-secondary" style="font-size:0.8em; margin-top:0.5em; opacity: 0.2; cursor:default"
                                *ngIf="g.game.attributes.has_leaderboard == false"
                                (click)="gotoLeaderboard(g.game.attributes.id, currentUser.id)" disabled>No Leaderboard</button>

                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="centered-div animate animated fadeIn" *ngIf="loading == true">
        <img src="assets/gisgame/gameload.gif" style="width:60%">
        <h4>Loading...</h4>
    </div>


</div>