/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 13.5em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  border: 1px;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  box-shadow: 2px 0px 3px 3px rgba(0, 0, 0, 0.15);
  background-color:#0f1642
}

/* The navigation menu links */
.sidenav a {
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-decoration: none;
  color: #eee;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #04c5cd;
  cursor:pointer;
}


/* Style page content */
.main {
  margin-left: 13.5em; /* Same as the width of the sidebar */
  text-align: left;
}

.btn {
  border:0 ;
}

.btn-primary {
  background-color:#0f1642;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav-content {
  padding-left: 50px;
  padding-top: 10px;
}

.centered-div {
    position:absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    text-align: center;
    margin: 20% 0;
    align-items: center;
}
