<div>

  <particles [style]="particleStyle" [width]="particleWidth" [height]="particleHeight" [params]="particleParams" *ngIf="!this.router.url.includes('game')"></particles>

  <div *ngIf="innerWidth >= 800">

    <div class="sidenav animate animated fadeInLeft" *ngIf="!this.router.url.includes('/login')">
      <div class="container" style="padding:1.5em;">
        <div style="padding-top:1em; padding-bottom:1em;">
          <h3 style="color:#04c5cd; font-size:25px; display:inline;">
            <i class="fa fa-space-shuttle" style="padding-right:0.5em"></i>
            Anly.io
          </h3>
          <p style="color:#04c5cd; font-size:0.8em; display:inline">Beta</p>
        </div>

        <div style="padding-top:1em; padding-bottom:1em;">
          <a class="sidenav-item" (click)="menuRoute('/')">
            <i class="fa fa-home" style="color:#fff; padding-right:0.5em"></i>
            Home
          </a>
          <a class="sidenav-item" (click)="openSavedCourses()">
            <i class="fa fa-star" style="color:#fff; padding-right:0.5em"></i>
            Saved Quests
            <i class="fa fa-chevron-down" style="color:#fff; padding-left:0.5em" *ngIf="savedCoursesOpen==false"></i>
            <i class="fa fa-chevron-up" style="color:#fff; padding-left:0.5em" *ngIf="savedCoursesOpen==true"></i>
          </a>
          <!-- <p style="padding-top:0.5em; padding-bottom:0.5px; font-size:13px" class="sidenav-item animate animated fadeIn" *ngIf="savedCoursesOpen==true">
            <li *ngFor="let course of courses"> {{ course }} </li>
          </p> -->
          <a class="sidenav-item">
            <i class="fa fa-trophy" style="color:#fff; padding-right:0.5em"></i>
            Achievements
          </a>
          <a class="sidenav-item" (click)="menuRoute('/analysis')">
            <i class="fas fa-analytics" style="color:#fff; padding-right:0.5em"></i>
            Analytics 
          </a>
        </div>

      </div>
    </div>

    <div [ngClass]="this.router.url.includes('/login') ? '' : 'main' ">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

  <div *ngIf="innerWidth<800" class="centered-div">

    <h1>Whoops!</h1>
    <h4>It seems like your browser is incapable of running anly.io.</h4>
    <br><br>
    <h5>Try using a computer.</h5>

  </div>

</div>

<!-- -------------------------------- -->

<div id="pauseGameModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border:0;">
      <div class="modal-header" style="border-bottom:0;">
        <h5 class="modal-title" style="color:#000">Hey, listen!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color:#000">You're in a quest. Leave anyway?</p>
      </div>
      <div class="modal-footer" style="border-top:0;">
        <button type="button" class="btn btn-primary" (click)="confirmNavigate()">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>