<div oncontextmenu="return false;" class="noselect">
  <div class="animate animated"
    [ngStyle]="{ 'opacity' : (showIntro == false) ? 1 : 0.05 }"
    [ngClass]="{ 'fadeIn': (showIntro == false), 'fadeOut fastest' : (isGameOver == true)}">

    <div id="map" *ngIf="isGameOver == false"
    leaflet
    [leafletOptions]="options"
    [leafletMaxZoom]="18"
    [leafletMinZoom]="14"
    (leafletMapReady)="onMapReady($event)"
    [ngStyle]="{'opacity' : (state.action.dragging == true) ? 0.25 : 1}"
    (dragover)="allowDrop($event)">
    </div>

    <div class="gis-gui-overlay" *ngIf="showIntro == false">
      <div class="container" style="width: 100%;">
        <div class="row animated fadeInDown justify-content-center">
          <div class="col-3 align-self-start text-center" style="height: 2.5em; padding-left: 0px; padding-right: 0px;">
            <div class="avatars" >
              <div class="card text-right gis-gui-scoring-card animate animated tada" style="margin-left: -2em;">
                <div class="card-body gis-gui-scoring-card-body" id="headingTIme">
                  <p class="card-text">
                    {{ state.game.currPopulation / 1000 | number:'1.1-1'}}K / {{ gisgameService.getArea().population.total_population / 1000 | number:'1.1-1' }}K
                    <i class="btn population-detail-btn fa"
                      id="headingTwo" data-toggle="collapse" data-target=".colapContentPopulation"
                      aria-expanded="true" aria-controls="collapseTwo" (click)="openPopulationDetail()"
                      [ngClass]="{'fa-chevron-up':popDetailOpen == true, 'fa-chevron-down':popDetailOpen == false}"
                      style="padding-right: 0px;" ></i>
                  </p>
                </div>
              </div>
              <span class="avatar">
                <img src="./../../assets/iconsx10/Citizens.svg" alt="gisgameCitizens">
              </span>
            </div>

            <div class="collapse colapContentPopulation show" id="collapseTwo" >
              <div class="" style="height: 8.5em; overflow-y: scroll;">
                <div class="float-right card text-center gis-gui-scoring-card-mini animate animated fadeIn" style="margin-top: 0.3em; opacity:0.85;">
                  <div class="card-body gis-gui-scoring-card-body" id="headingTIme"  data-toggle="tooltip" data-placement="right" hide-delay="0"
                            tooltip="High Income Population" style="cursor:pointer">
                    <div class="row mini-row">
                      <div class="col-2" style="padding-left: 0em;">
                        <img class="card-mini-img" src="./../../assets/iconsx10/Upper Class.svg" alt="gisgameUpper">
                      </div>
                      <div class="col-8 text-left d-flex align-items-center" style="height:100%;"> 
                        <p class="card-text" style="font-size: 0.7em;">{{ state.game.currIncomeFilter.highIncome }} / {{ gisgameService.getArea().population.incomeFilter.high_income }} </p>
                      </div>
                      <div class="col-2 d-flex align-items-center" style="height:100%; padding-left: 0px; padding-right: 0px;">
                        <i class="fa fa-check-square-o" style="color: white;" *ngIf="(state.game.currIncomeFilter.highIncome) >= gisgameService.getArea().population.incomeFilter.high_income"></i>
                        <i class="fa fa-square-o" style="color: white;" *ngIf="(state.game.currIncomeFilter.highIncome) < gisgameService.getArea().population.incomeFilter.high_income"></i>
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="float-right card text-center gis-gui-scoring-card-mini animate animated fadeIn" style="margin-top: 0.3em; opacity:0.85;">
                  <div class="card-body gis-gui-scoring-card-body" id="headingTIme" data-toggle="tooltip" data-placement="right" hide-delay="0"
                            tooltip="Middle Income Population" style="cursor:pointer">
                    <div class="row mini-row"> 
                      <div class="col-2" style="padding-left: 0em;">
                        <img class="card-mini-img" src="./../../assets/iconsx10/Middle Class.svg" alt="gisgameMiddle">
                      </div>
                      <div class="col-8 text-left d-flex align-items-center" style="height:100%;"> 
                        <p class="card-text" style="font-size: 0.7em;">{{ state.game.currIncomeFilter.middleIncome }} / {{ gisgameService.getArea().population.incomeFilter.middle_income }}
                        </p>
                      </div>
                      <div class="col-2 d-flex align-items-center" style="height:100%; padding-left: 0px; padding-right: 0px;">
                        <i class="fa fa-check-square-o" style="color: white;" *ngIf="(state.game.currIncomeFilter.middleIncome) >= gisgameService.getArea().population.incomeFilter.middle_income"></i>
                        <i class="fa fa-square-o" style="color: white;" *ngIf="(state.game.currIncomeFilter.middleIncome) < gisgameService.getArea().population.incomeFilter.middle_income"></i>
                      </div> 
                    </div>
                  </div>
                </div>
                <div class="float-right card text-center gis-gui-scoring-card-mini animate animated fadeIn" style="margin-top: 0.3em; opacity:0.85;">
                  <div class="card-body gis-gui-scoring-card-body" id="headingTIme" data-toggle="tooltip" data-placement="right" hide-delay="0"
                            tooltip="Low Income Population" style="cursor:pointer">
                    <div class="row mini-row"> 
                      <div class="col-2" style="padding-left: 0em;">
                        <img class="card-mini-img" src="./../../assets/iconsx10/Lower Class.svg" alt="gisgameLower">
                      </div>
                      <div class="col-8 text-left d-flex align-items-center" style="height:100%;"> 
                        <p class="card-text" style="font-size: 0.7em;">{{ state.game.currIncomeFilter.lowIncome }} / {{ gisgameService.getArea().population.incomeFilter.low_income }} 
                        </p>
                      </div>
                      <div class="col-2 d-flex align-items-center" style="height:100%; padding-left: 0px; padding-right: 0px;">
                        <i class="fa fa-check-square-o" style="color: white;" *ngIf="(state.game.currIncomeFilter.lowIncome) >= gisgameService.getArea().population.incomeFilter.low_income"></i>
                        <i class="fa fa-square-o" style="color: white;" *ngIf="(state.game.currIncomeFilter.lowIncome) < gisgameService.getArea().population.incomeFilter.low_income"></i>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-3 align-self-start text-center" style="height: 2.5em; padding-left: 0px; padding-right: 0px;">
            <div class="avatars">
              <div class="card text-center gis-gui-scoring-card" style="margin-left: -2em;">
                <div class="card-body gis-gui-scoring-card-body" id="headingTIme" style="padding-left: 2em;">
                    <p class="card-text align-middle" style="display:inline">{{ state.game.currScore }}</p>
                    <!-- <p class="card-text align-right" style="display:inline"> ({{ state.game.currScoreChange }})</p> -->
                </div>
              </div>
              <span class="avatar">
                <img src="./../../assets/iconsx10/Happiness.svg" alt="gisgameHappiness">
              </span>
            </div>
          </div>

          <div class="col-3 align-self-start text-center" style="height: 2.5em; padding-left: 0px; padding-right: 0px;">
            <div class="avatars">
              <div class="card text-center gis-gui-scoring-card" style="margin-left: -2em;">
                <div class="card-body gis-gui-scoring-card-body" id="headingTIme" style="padding-left: 2em;">
                    <p class="card-text">$ {{state.game.currMoney}} K
                    </p>
                </div>
              </div>
              <span class="avatar">
                <img src="./../../assets/iconsx10/Budget.svg" alt="gisgameBudget">
              </span>
            </div>
          </div>

          <div class="col-3 align-self-start text-center" style="height: 2.5em; padding-left: 0px; padding-right: 0px;">
            <div class="avatars">
              <div class="card text-center gis-gui-scoring-card" style="margin-left: -2em;">
                <div class="card-body gis-gui-scoring-card-body" id="headingTIme" style="padding-left: 2em;">
                    <p class="card-text">{{timer.subscribedVal}}
                    </p>
                </div>
              </div>
              <span class="avatar">
                <img src="./../../assets/iconsx10/Timer.svg" alt="gisgameTimer">
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="gis-gui-bottom-nav" [ngClass]="{ 'fadeOutUp': isGameOver == true }" [ngStyle]="{ 'pointer-events': (showIntro == true) ? 'none':'auto'}">
      <div class="animate animated">
        <div class="card text-center  gis-gui-card">
          <div class="card-header" id="headingOne" data-toggle="collapse" data-target=".colapContent" aria-expanded="true" aria-controls="collapseOne" style="padding: 0%;"  (click)="openObjective()">
            <div class="btn fa" style="width: 100%; height: 100%; align-items: center; align-content: center; color: #fff;"
              [ngClass]="{'fa-chevron-up':objectiveOpen == false, 'fa-chevron-down':objectiveOpen == true}">
            </div>
          </div>
          <div class="collapse colapContent" id="collapseOne">
            <div class="card-body" style="font-size:13px" *ngIf="gisgameService.getAttributes() != null">
              <h3 style="font-size:1.5em;">Quest: {{ gisgameService.getAttributes().name }}</h3>
              <p>{{ gisgameService.getAttributes().description }}</p>
              <h5 style="font-size:0.8em;">Objectives: House <u>all</u> of the population by income, and
                make
                <u>{{ gisgameService.getAttributes().objective }}</u>
              </h5>
              <p>Subzone: {{ gisgameService.getArea().name }}</p>
              <p> Total Population: {{ gisgameService.getArea().population.total_population }} </p>
              <div>
                <div class="row">
                  <div class="col-6">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col" style="color: #04d9d9; cursor: pointer" data-toggle="tooltip" data-placement="top" hide-delay="0"
                            tooltip="Place appropriate houses to satisfy different income groups of the population.">
                            Income Level <i class="fa fa-info-circle"></i>
                          </th>
                          <th scope="col" style="color: #04d9d9;">Population</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">High Income</th>
                          <td>{{ gisgameService.getArea().population.incomeFilter.high_income }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Middle Income</th>
                          <td>{{ gisgameService.getArea().population.incomeFilter.middle_income }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Low Income</th>
                          <td>{{ gisgameService.getArea().population.incomeFilter.low_income }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-6">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th scope="col" style="color: #04d9d9; cursor: pointer" data-toggle="tooltip" data-placement="top" hide-delay="0"
                            tooltip="Placing different facilities will give you varying amounts of Happiness based on the population demographics and facility properties.">
                            Age Group <i class="fa fa-info-circle"></i>
                          </th>
                          <th scope="col" style="color: #04d9d9;">Population</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Children</th>
                          <td>{{ gisgameService.getArea().population.ageFilter.num_child }} ({{gisgameService.getArea().population.ageFilter.num_child/gisgameService.getArea().population.total_population | number:'1.1-2' }})</td>
                        </tr>
                        <tr>
                          <th scope="row">Adults</th>
                          <td>{{ gisgameService.getArea().population.ageFilter.num_adult }} ({{gisgameService.getArea().population.ageFilter.num_adult/gisgameService.getArea().population.total_population | number:'1.1-2' }})</td>
                        </tr>
                        <tr>
                          <th scope="row">Seniors</th>
                          <td>{{ gisgameService.getArea().population.ageFilter.num_elderly }} ({{gisgameService.getArea().population.ageFilter.num_elderly/gisgameService.getArea().population.total_population | number:'1.1-2' }})</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <button style="width:3em; text-align: center;" class="btn btn-primary" (click)="toggleSFX()" *ngIf="canPlayAudio == true"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
              <button style="width:3em; text-align: center;" class="btn btn-primary" (click)="toggleSFX()" *ngIf="canPlayAudio == false"><i class="fa fa-volume-off" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  -->


  <!-- SHOW INTRO -->
  <div class="animate animated fadeIn centered-div-game" *ngIf="showIntro == true" >

    <h6>Quest: {{ gisgameService.getAttributes().name }}</h6>
    <h4>{{ gisgameService.getAttributes().description }}</h4>
    <h5 style="font-size:0.8em; padding-top:0.2em">Objectives: House <u>all</u> of the population by income, and make
      <u>{{ gisgameService.getAttributes().objective }}</u>
    </h5>
    <br>
    <h5>Subzone: {{ gisgameService.getArea().name }}</h5>
    <p style="cursor:pointer" data-toggle="tooltip" data-placement="right" hide-delay="500">
      <strong>Total Population: {{ gisgameService.getArea().population.total_population }}</strong>
    </p><br>
    <div class="row" style="width: 30em;">
      <div class="col-6">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col" style="color: #04d9d9; cursor: pointer" data-toggle="tooltip" data-placement="top" hide-delay="0"
                tooltip="Place appropriate houses to satisfy different income groups of the population." 
              >
                Income Level <i class="fa fa-info-circle"></i>
              </th>
              <th scope="col" style="color: #04d9d9; cursor: pointer"> 
                Population
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">High Income</th>
              <td>{{ gisgameService.getArea().population.incomeFilter.high_income }} </td>
            </tr>
            <tr>
              <th scope="row">Middle Income</th>
              <td>{{ gisgameService.getArea().population.incomeFilter.middle_income }}</td>
            </tr>
            <tr>
              <th scope="row">Low Income</th>
              <td>{{ gisgameService.getArea().population.incomeFilter.low_income }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col" style="color: #04d9d9; cursor: pointer" data-toggle="tooltip" data-placement="top" hide-delay="0"
                tooltip="Placing different facilities will give you varying amounts of Happiness based on the population demographics and facility properties." 
              >
                Age Group <i class="fa fa-info-circle"></i>
              </th>
              <th scope="col" style="color: #04d9d9;">Population</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Children</th>
              <td>{{ gisgameService.getArea().population.ageFilter.num_child }} ({{gisgameService.getArea().population.ageFilter.num_child/gisgameService.getArea().population.total_population | number:'1.1-2' }})</td>
            </tr>
            <tr>
              <th scope="row">Adults</th>
              <td>{{ gisgameService.getArea().population.ageFilter.num_adult }} ({{gisgameService.getArea().population.ageFilter.num_adult/gisgameService.getArea().population.total_population | number:'1.1-2' }})</td>
            </tr>
            <tr>
              <th scope="row">Seniors</th>
              <td>{{ gisgameService.getArea().population.ageFilter.num_elderly }} ({{gisgameService.getArea().population.ageFilter.num_elderly/gisgameService.getArea().population.total_population | number:'1.1-2' }})</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-primary btn-lg" (click)="toggleVideoModal()" 
        data-toggle="modal" data-target="#gisgameTutorialVideoModal" data-backdrop="static" data-keyboard="false">
          Introduction
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary btn-lg" (click)="startGame()" style="background-color:#0f1642; color: #fff">
          Start
        </button>
      </div>
    </div>




    
  </div>

  <!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  -->

  <!-- GAMEOVER -->
  <div class="animate animated bounceInDown centered-div" *ngIf="isGameOver == true">
    <h1 id="gameover-text" *ngIf="fulfillWin == false"> You Lose! </h1>
    <h1 id="gameover-text" *ngIf="fulfillWin == true"> Nice Game! </h1>
    <h5>
      {{ endingMsg }}
    </h5>
  </div>
</div>
  <!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  -->

<div class="gis-gui-side-nav animate animated noselect" *ngIf="showIntro == false"
  [ngClass]="{ 'fadeInRight': (showIntro == false), 'fadeOutRight fastest' : (isGameOver == true)}"
  oncontextmenu="return false;">
  <span>
    <button class="btn btn-primary btn-asset-filter" (click)="showHousesBtn()" [ngStyle]="{ 'opacity':(isHousesTab == true) ? 1 : 0.35 }">Houses</button>
    <button class="btn btn-primary btn-asset-filter" (click)="showFacilitiesBtn()" [ngStyle]="{ 'opacity':(isHousesTab == false) ? 1 : 0.35 }">Facilities</button>
  </span>

  <div class="card gis-gui-bottom-nav-card">
    <div class="card-body gis-gui-bottom-nav-body text-center" *ngIf="isHousesTab == true">
      <div *ngIf="gisgameService.getAssets() != null" style="width: calc(13.5em - 2em);">
          <a class="dummy-draggable animate animated fadeIn fastest" *ngFor="let asset of gisgameService.getAssets().houses" (mouseover)="assetHoverAnimation($event)">
            <img
            data-toggle="tooltip" data-placement="top" hide-delay="0"
            src="assets/gisgame/assets-svg/{{ asset.name }}.svg"
            (dragstart)="dragStart($event)"
            (dragend)="dragEnd($event,asset)"
            tooltip="
              {{ asset.name }} ({{ asset.type }}) <br>
              {{ asset.type == 'Facility' ? 'Buffer Radius: ' + asset.buffer : '' }}
              {{ asset.residents ? 'Residents: ' + asset.residents : '' }}
              <br>
              {{ asset.happiness ? 'Happiness: ' + asset.happiness + '<br>' : '' }}
              {{ asset.target_demographic ? 'Demographic: ' + asset.target_demographic + '<br>' : '' }}
              Cost: ${{ asset.cost }}K
              "
            >
          </a>
      </div>
    </div>
    <div class="card-body gis-gui-bottom-nav-body" *ngIf="isHousesTab == false">
      <div *ngIf="gisgameService.getAssets() != null" style="width: calc(13.5em - 2em);">
        <a class="dummy-draggable animate animated fadeIn fastest" *ngFor=" let asset of gisgameService.getAssets().facilities" (mouseover)="assetHoverAnimation($event)">
          <img
          data-toggle="tooltip" data-placement="top" hide-delay="0"
          src="assets/gisgame/assets-svg/{{ asset.name }}.svg"
          (dragstart)="dragStart($event)"
          (dragend)="dragEnd($event,asset)"
          tooltip="
            {{ asset.name }} ({{ asset.type }}) <br>
            {{ asset.type == 'Facility' ? 'Buffer Radius: ' + asset.buffer : '' }}
            {{ asset.residents ? 'Residents: ' + asset.residents : '' }}
            <br>
            {{ asset.happiness ? 'Happiness: ' + asset.happiness + '<br>' : '' }}
            Cost: ${{ asset.cost }}K
            "
          >
        </a>
      </div>
    </div>
  </div>

<!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  --><!--  -->

</div>


<div id="gisgameTutorialVideoModal" class="modal fade" tabindex="-1" role="dialog" *ngIf="showModal == true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border:0;">
      <div class="modal-header" style="border-bottom:0;">
        <h5 class="modal-title" style="color:#000">Introduction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleVideoModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align:center">
        <iframe width="450" height="315" src="https://www.youtube.com/embed/oHUE6auKZQE" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>