#map {
  height: calc(100%);
  width: calc(100% - 36em);
  position: absolute !important;
  cursor: grab;
}

.gis-gui-overlay {
  position:absolute;
  z-index:314159;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  width: calc(100% - 29em);
}

.gis-gui-card {
  opacity:0.85;
  border: 0;
  background-color:#0f1642;
  box-shadow: 0px 1.5px 3px 3px rgba(0, 0, 0, 0.25);
}

.gis-gui-scoring-card {
  opacity:0.85 !important;
  border: 0;
  width: 11em;
  margin-left: 1.5em;
  background-color:#0f1642;
  height: 2.5em;
  box-shadow: -3px 1.5px 3px 3px rgba(0, 0, 0, 0.25);
}

.gis-gui-scoring-card-mini {
  opacity:0.85 !important;
  border: 0;
  width: 11em;
  margin-left: 2em;
  margin-right: 0.4em;
  background-color:#0f1642;
  height: 2.5em;
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.15);
}

.card-mini-img {
  margin-top: -0.25em;
  height: 2em; 
  width: 2em;
}

.mini-row {
  width: 100%; 
  margin-left: 0px; 
  margin-left: 0px;
  height: 100%;
}

.gis-gui-scoring-card-body {
  padding: 0.5em;
}

.population-detail-btn{
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0.2em;
}

.population-detail-btn:hover {
  color: #04d9d9;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-primary {
  border:0;
  background-color: #04c5cd;
  color: #0f1642;
}

.gis-gui-card-button {
  opacity: 0.85;
  border:0;
  height: 3em;
  background-color: #0f1642;
}

.gis-gui-bottom-nav {
  position:absolute;
  z-index:314159;
  bottom:0%;
  margin: 1.5em;
  width:calc(100% - 30em);
}

.gis-gui-bottom-nav-card {
  height:100%;
  background-color:#0f1642;
  border:0;
  border-top-left-radius: 0;
}

.btn-asset-filter {
  background-color:#0f1642 !important;
  width: 6em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color:#fff !important;
}

.gis-gui-bottom-nav-body {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: normal;
  padding: 1em;
  /* margin-top: 0.25em; */
}

.dummy-draggable {
  z-index:314159;
  text-align: center;
  /* margin: 1em; */
  cursor:grab;
  width: 5em;
  height: 5em;
}

.dummy-draggable img {
  width: 4.5em;
  height: 4.5em;
  margin: 0.6em;
}

.badge {
  position: absolute;
  margin-left:-0.75em;
  color: #fff;
  height:1.5em;
  width: 1.5em;
  border-radius:50%;
}

.centered-div-game {
    position:absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    text-align: center;
    margin: 10% 0;
    align-items: center;
    padding-right: 11.5em;
}

.centered-div {
    position:absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    text-align: center;
    margin: 10% 0;
    align-items: center;
    /* padding-right: 11.5em; */
}


.gis-gui-side-nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 13.5em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  border: 1px;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  box-shadow: -2px 0px 3px 3px rgba(0, 0, 0, 0.25);
  background-color:#0f1642;

}

.avatars {
  display: inline-flex;
  flex-direction: row-reverse;
  width: calc(100% - 1.5em);
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.avatar {
  margin-left: -2em;
  margin-top: -0.5em;
  position: relative;
  border:0px;
  border-radius: 50%;
  overflow:hidden;
  width: 3.5em;
  height: 3.5em;
  background-color:#04c5cd;
  box-shadow: 0px 1.5px 3px 3px rgba(0, 0, 0, 0.25);
}

.avatar img {
  margin-top: 0px;
  color: #fff;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}